/*----------BODY-------------*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}



/*-----------NAVBAR-----------*/
nav {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
    width: 100%;
}

.logo img{
    height: 65px;
    margin: 10px 10px 10px 80px;
    float: left;
    position: relative;
}

.nav-links a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2em;
    border-radius: 10px;
    background-color: #649097;
    padding: 5px;
    color: white;
    box-shadow: 2px 2px rgb(63, 59, 59, 0.35);
}
.nav-links a:hover{
    color: black;
}
.nav-links li{
    list-style: none; 
}

.nav-links li:hover{
    transform: scale
}
.nav-links{
   float: right;
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-top: 30px;
}

/*-----------MAIN-------*/
.landing-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 92vh;
    margin: 0px 10px 10px;
    background: #ff512f;
    background: -webkit-linear-gradient(-45deg, #ff512f, #f09819);
    background: linear-gradient(-45deg, #ff512f, #f09819);
    animation: gradient 10s ease infinite;
    background-size:  300% 300%;
    border-radius: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.landing-text {
    margin: 40px;
    color: white;
    width: 40%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

}
.landing-text > span{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.landing-img img{
    width: 550px;
    height: auto;
    margin: 20px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
/**header**/

div > h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Poppins', sans-serif;
    color: #ff512f;
}

/*------ABOUT------*/
.about {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 56vh;
    margin-left: 2px;
    margin: 0px 10px 10px;
    font-weight: 500;
}

.steps {
    color: #d25342;
    width: 250px;
    height: 250px;
    text-align: center;
    font-size: 19px;
    border-radius: 50px;
    padding: 7px;
    box-shadow: 5px 5px rgb(63, 59, 59, 0.5);
}

.steps > h4{
    font-size: 30px;
    font-weight: 700;
    color: #649097;
}

/*----FOOTER---*/
.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
}
.footer p{
    padding-top: 10px;
}
